<div
  id="myModal"
  class="modal"
  #myModal
  *ngIf="dialogConfig && dialogConfig.visible"
>
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="Cancel()">&times;</span>
      <h2>{{ dialogConfig.title }}</h2>
    </div>
    <div class="modal-body">
      <p>{{ dialogConfig.message }}</p>
    </div>
    <div class="modal-footer">
      <span *ngFor="let bt of dialogConfig.buttonConfigList">
        <button class="confirm" (click)="bt.handler()">
          {{ bt.label }}
        </button>
      </span>
    </div>
  </div>
</div>
