#footer {
  height:50px;
  width:100%;
  position:fixed;
  bottom:0;
  background:lightgray;
  color:gray;
  border-top:1px solid darkgray;
  display:flex;
  justify-content: center;
  align-items:center;
}